input:nth-of-type(3):indeterminate+label{
    color: #0000ff;
}
        input:nth-of-type(4):indeterminate+label {
            color: #0000ff;
        }
        input:checked+label {
            color: #ff0000;
        }