thead:first-child {
    background: linear-gradient(#8b9282, #242523);
}

th:first-child {
    background: linear-gradient( 45deg, #8af004, #6ab623);
}

tr {
    empty-cells: hide;
    width: 120px;
    padding: 15px;
   
}
td {
    border-radius: 50px;
}


/* не доделал */