a {
    display: block;
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to top, #4fbd24, #41ec03);
    width: 150px;
    border: 1px solid white;
    outline-offset: -4px;
    outline: solid 1px white;
    border-radius: 5px;
    color: white;
}

a:link {
    background: linear-gradient(to top, #4fbd24, #41ec03);
}

a:hover {
    background: linear-gradient(to top, #f9cd66, #fae069);
}

a:active {
    background: linear-gradient(to top, #f9cd66, #fae069);
}

.ssilka::before {
    position: absolute;
    top: 100%;
    left: 5%;
    content: "";
    border: 20px solid transparent;
    border-top: 20px solid green;
}