p:first-child {
width: 500px;
background-color: orange;
word-spacing: 5px;
letter-spacing: 1px;
line-height: 1.1em;
text-indent: 1%;
font-size: 20px;
}
p:last-child {
    width: 500px;
background-color: violet;
word-spacing: 15px;
letter-spacing: 3px;
line-height: 1.6em;
text-indent: 3%;
font-size: 20px;
}
/*.p_1 {

}

.p_2 {

}*/
